.commentedit {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  float: left;
  padding-right: 50px;
  min-width: 100px;
  width: 60%;
  max-width: 380px;
}

.commenteditright {
	line-height: 1;
	margin-left: 10px;
}

.commentimage {
  display: block;
  border-radius: 5px;
  float: left;
  padding-right: 10px;
}

.commentfooter {
	line-height: 1;
}

.ancient {
    -ms-transform: translate(0px, -10px) rotate(-20deg);
    -webkit-transform translate(0px, -10px) rotate(-20deg);
    transform: translate(0px, -10px) rotate(-20deg);
    border: 2px solid purple;
    color: purple;
    display: inline-block;
    font-size: small;
}

.old {
    -ms-transform: translate(0px, -10px) rotate(-20deg);
    -webkit-transform translate(0px, -10px) rotate(-20deg);
    transform: translate(0px, -10px) rotate(-20deg);
    border: 2px solid red;
    color: red;
    display: inline-block;
    font-size: small;
}