  {{ $commentfiles := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := trim .Title " " }}
  
  {{ range $commentfiles }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range sort ($comments := (index $.Site.Data.comments $entryId)) "date" }}
<div>
  <p>{{ .body | markdownify }}</p>
  <div>
    <img class="commentimage" src="https://www.gravatar.com/avatar/{{ .email }}?s=50">
    <div class="commentfooter">
      <small>
        <strong>{{ .name }}</strong><br>{{ dateFormat "Mon, Jan 2, 2006" .date }} 
      </small>
    </div> 
  </div>
</div>
<hr>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if lt (sub now.Year .Date.Year) 2 }}
    {{ if eq ($.Scratch.Get "hasComments") 0 }}
      <p>Be the first to comment.</p>
    {{ end }}
  {{ else }}
    <p>Comments closed.</p>
  {{ end }}
  
